html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #888;
    overflow-x: hidden;
    font-size: 15px;
  }
  
  p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .navbar-toggler:focus,
  a:focus,
  input:focus,
  textarea:focus,
  button:focus,
  .btn:focus,
  .btn.focus,
  .btn:not(:disabled):not(.disabled).active,
  .btn:not(:disabled):not(.disabled):active {
    text-decoration: none;
    outline: none;
    outline: none !important;
    border-color: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px;
  color: #081828;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}


.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 80px;
  padding: 0 300px;
  position: relative;
  z-index: 5;
}

.section-title h3 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  color: #723FE4;
  text-transform: uppercase;
}

.section-title h2 {
  font-size: 34px;
  margin-bottom: 25px;
  line-height: 42px;
  text-transform: capitalize;
  position: relative;
  font-weight: 800;
}

.section-title p {
  font-size: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    padding: 0px 200px;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    padding: 0px 20px;
    margin-bottom: 70px;
  }
  .section-title h3 {
    font-size: 14px;
  }
  .section-title h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .section-title p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .section-title {
    padding: 0px 10px;
    margin-bottom: 60px;
  }
  .section-title h3 {
    font-size: 14px;
  }
  .section-title h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
  }
  .section-title p {
    font-size: 14px;
  }
}



/* button start*/
.button .btn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    background-color: #723FE4;
    color: #fff;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    overflow: hidden;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .button .btn {
      padding: 12px 25px;
      font-size: 14px;
      font-weight: 500;
    }
  }
  
  @media (max-width: 767px) {
    .button .btn {
      padding: 12px 25px;
      font-size: 14px;
      font-weight: 500;
    }
  }
  
  .button .btn i {
    display: inline-block;
    margin-right: 5px;
  }
  
  .button .btn:last-child {
    margin: 0;
  }
  
  .button .btn:hover {
    color: #fff;
    background-color: #5A29C8;
    -webkit-box-shadow: 0px 4px 4px #0000000f;
            box-shadow: 0px 4px 4px #0000000f;
  }
  
  .button .btn-alt {
    background-color: #081828 !important;
    color: #fff !important;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .button .btn-alt {
      padding: 10px 30px;
    }
  }
  
  @media (max-width: 767px) {
    .button .btn-alt {
      padding: 10px 30px;
    }
  }
  
  .button .btn-alt:hover {
    background-color: #723FE4 !important;
    color: #fff !important;
  }
  

  /* button finish */

  /* Overlay */
.overlay {
    position: relative;
    z-index: 1;
  }
  
  .overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #081828;
    content: "";
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1;
  }




/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  
  .preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .preloader-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0px;
  }
  
  .preloader-icon span {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #723FE4;
    -webkit-animation: preloader-fx 1.6s linear infinite;
    animation: preloader-fx 1.6s linear infinite;
  }
  
  .preloader-icon span:last-child {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
  }
  
  @keyframes preloader-fx {
    0% {
      -webkit-transform: scale(0, 0);
              transform: scale(0, 0);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0;
    }
  }

  @-webkit-keyframes preloader-fx {
    0% {
      -webkit-transform: scale(0, 0);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1, 1);
      opacity: 0;
    }
  }
  

  /*======================================
	01. Start Header CSS
========================================*/
.header {
    width: 100%;
    background: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header {
      padding: 18px 0 !important;
    }
    .header .mobile-menu-btn .toggler-icon {
      background-color: #fff;
    }
    .header .button {
      margin: 0 !important;
    }
    .header .navbar-collapse {
      position: absolute;
      top: 67px !important;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      max-height: 350px;
      overflow-y: scroll;
      border-top: 1px solid #eee;
      border-radius: 6px;
    }
    .header .navbar .navbar-nav .nav-item a:hover {
      color: #723FE4 !important;
    }
    .header .navbar .navbar-nav .nav-item a.active {
      color: #723FE4 !important;
    }
    .header .navbar-nav .nav-item {
      margin: 0;
    }
    .header .navbar-nav .nav-item:hover a {
      color: #723FE4;
    }
    .header .navbar-nav .nav-item a {
      padding: 12px 16px !important;
    }
    .header .navbar-nav .nav-item a::before {
      display: none;
    }
    
   
    .header .navbar-nav .nav-item a {
      color: #051441;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 10px 0;
    }
    .header .navbar-nav .nav-item a::after {
      opacity: 1;
      visibility: visible;
    }
    
    .header .navbar-nav .nav-item a {
      font-size: 14px;
    }
    .header .navbar-nav .nav-item a:hover {
      color: #723FE4;
    }
  }
  
  @media (max-width: 767px) {
    .header {
      padding: 18px 0 !important;
    }
    .header .mobile-menu-btn .toggler-icon {
      background-color: #fff;
    }
    .header .navbar-collapse {
      position: absolute;
      top: 58px !important;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      max-height: 350px;
      overflow-y: scroll;
      border-top: 1px solid #eee;
      border-radius: 6px;
    }
    .header .navbar .navbar-nav .nav-item a:hover {
      color: #723FE4 !important;
    }
    .header .navbar .navbar-nav .nav-item a.active {
      color: #723FE4 !important;
    }
    .header .navbar-nav .nav-item {
      margin: 0;
    }
    .header .navbar-nav .nav-item:hover a {
      color: #723FE4;
    }
    .header .navbar-nav .nav-item a {
      padding: 12px 16px !important;
    }
    .header .navbar-nav .nav-item a::before {
      display: none;
    }
    
   
    .header .navbar-nav .nav-item a {
      color: #051441;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 10px 0;
    }
    .header .navbar-nav .nav-item a::after {
      opacity: 1;
      visibility: visible;
    }
   
    .header .navbar-nav .nav-item a {
      font-size: 14px;
    }
    .header .navbar-nav .nav-item a:hover {
      color: #723FE4 !important;
    }
  }
  
  @media (max-width: 767px) {
    .header .button {
      display: none;
    }
  }
  
  .header .button .btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 500;
    padding: 12px 30px;
  }
  
  .header .button .btn:hover {
    background-color: #fff;
    color: #723FE4;
  }
  
  .header .navbar-brand img {
    width: 170px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .navbar-brand img {
      width: 160px;
    }
  }
  
  @media (max-width: 767px) {
    .header .navbar-brand img {
      width: 150px;
    }
  }
  
  .header.sticky .navbar-brand .white-logo {
    opacity: 0;
    visibility: hidden;
  }
  
  .header.sticky .navbar-brand .dark-logo {
    opacity: 1;
    visibility: visible;
  }
  
  .header.sticky .button .btn {
    background-color: #723FE4;
    color: #fff;
    border-color: transparent;
  }
  
  .header.sticky .button .btn:hover {
    background-color: #081828;
    color: #fff;
  }
  
  .sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    top: 0;
  }
  
  .navbar-expand-lg .navbar-nav {
    margin: 0;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .header .navbar .navbar-nav .nav-item a.active {
    color: #fff;
  }
  
  .sticky .navbar .navbar-nav .nav-item a.active {
    color: #723FE4;
  }
  
  .sticky .navbar .navbar-nav .nav-item a {
    color: #081828;
  }
  
  .sticky .navbar .mobile-menu-btn .toggler-icon {
    background: #333;
  }
  

  /*===== NAVBAR =====*/
.navbar-area {
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 0;
  }
  
  .navbar-area.sticky {
    position: fixed;
    z-index: 99;
    background: #723FE4;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    background: #fff;
    padding: 0px 0;
  }
  
  .navbar {
    padding: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .navbar-brand {
    padding-left: 0;
    border-radius: 0;
  }
  
  .mobile-menu-btn {
    padding: 0px;
  }
  
  .mobile-menu-btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .mobile-menu-btn .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #222;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }
  
  .mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
  }
  
  .mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: -7px;
  }
  
  .navbar-nav .nav-item {
    z-index: 1;
    position: relative;
    margin-right: 40px;
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0 !important;
  }
  
  .navbar-nav .nav-item:hover a {
    color: #fff;
  }
  
  .sticky .navbar-nav .nav-item:hover a {
    color: #723FE4;
  }
  
  .navbar-nav .nav-item a {
    font-size: 15px;
    color:#fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
    padding: 35px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    transition: all 0.3s ease-out 0s;
    position: relative;
    text-transform: capitalize;
  }
  
  .navbar-nav .nav-item a::after {
    opacity: 0;
    visibility: hidden;
  }
  
  .navbar-nav .nav-item:hover a:before {
    width: 100%;
  }
  
  .navbar-nav .nav-item a.active {
    color: #fff;
  }
  
  .navbar-nav .nav-item a.dd-menu::after {
    content: "\ea58";
    font: normal normal normal 1em/1 "LineIcons";
    position: absolute;
    right: 17px;
    font-size: 10px;
    top: 50%;
    margin-left: 5px;
    margin-top: 0px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    height: 10px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item a.dd-menu::after {
      right: 13px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav .nav-item a.dd-menu::after {
      top: 18px;
      right: 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav .nav-item a.collapsed::after {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  
  
  
  /*======================================
       End Header CSS
    ========================================*/
  

    /*======================================
    Hero Area CSS
========================================*/
.hero-area {
    position: relative;
    padding: 220px 0 250px 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area {
      padding: 150px 0 180px 0;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area {
      padding: 120px 0 70px 0;
    }
  }
  
  .hero-area.overlay::before {
    background: #723FE4;
    opacity: 0.9;
  }
  
  .hero-area .hero-content {
    border-radius: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    padding: 0px 100px;
  }
  
  .hero-area .hero-content h5 {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .hero-area .hero-content h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 50px;
    color: #fff;
    text-shadow: 0px 3px 8px #00000017;
    text-transform: capitalize;
  }
  
  .hero-area .hero-content h1 span {
    display: block;
  }
  
  .hero-area .hero-content p {
    margin-top: 30px;
    font-size: 15px;
    color: #fff;
  }
  
  .hero-area .hero-content .button {
    margin-top: 40px;
  }
  
  .hero-area .hero-content .button .btn {
    background-color: #fff;
    color: #723FE4;
    margin-right: 12px;
  }
  
  .hero-area .hero-content .button .btn:hover {
    background-color: #081828;
    color: #fff;
  }
  
  .hero-area .hero-content .button .btn.btn-alt {
    background-color: #ffffff6b;
    color: #fff;
  }
  
  .hero-area .hero-content .button .btn.btn-alt:hover {
    background-color: #fff !important;
    color: #723FE4 !important;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area .hero-content h1 {
      font-size: 40px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-content {
      text-align: center;
    }
    .hero-area .hero-content h1 {
      font-size: 30px;
      font-weight: 700;
      line-height: 38px;
    }
    .hero-area .hero-content p {
      font-size: 15px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-content {
      padding: 0 10px;
    }
    .hero-area .hero-content h1 {
      font-size: 24px;
      line-height: 32px;
    }
    .hero-area .hero-content p {
      margin-top: 15px;
      font-size: 14px;
      line-height: 22px;
    }
    .hero-area .hero-content .button .btn {
      width: 60%;
      margin: 0;
      margin-bottom: 7px;
    }
    .hero-area .hero-content .button .btn:last-child {
      margin: 0;
    }
  }

  /*======================================
    Small Features CSS
========================================*/
.small-features .inner-content {
    display: inline-block;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: -50%;
    z-index: 5;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .small-features .inner-content {
      margin-top: -80px;
    }
  }
  
  @media (max-width: 767px) {
    .small-features .inner-content {
      margin-top: 0;
    }
  }
  
  .small-features .single-feature {
    position: relative;
    padding: 50px 40px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding-left: 100px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.048);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.048);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  }
  
  .small-features .single-feature:hover {
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.048);
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.048);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  
  .small-features .single-feature i {
    color: #723FE4;
    font-size: 35px;
    position: absolute;
    left: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .small-features .single-feature h2 {
    font-size: 16px;
    font-weight: 600;
    color: #081828;
  }
  
  .small-features .single-feature h2 span {
    font-size: 14px;
    color: #888;
    display: block;
    margin-top: 8px;
    font-weight: 400;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .small-features .single-feature {
      padding: 40px 30px;
      text-align: center;
    }
    .small-features .single-feature i {
      position: relative;
      left: 0;
      top: 0;
      display: inline-block;
      margin-bottom: 15px;
      -webkit-transform: none;
              transform: none;
    }
    .small-features .single-feature h2 {
      font-size: 15px;
    }
  }
  

  /*======================================
    Features Area CSS
========================================*/
.features {
  background-color: #fff;
}

.features .section-title {
  margin-bottom: 30px;
}

.features .single-feature {
  text-align: left;
  padding: 35px;
  background-color: #f9f9f9;
  border-radius: 6px;
  position: relative;
  margin-top: 30px;
  border: 1px solid #eee;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.features .single-feature:hover {
  -webkit-box-shadow: 0px 3px 5px #00000017;
          box-shadow: 0px 3px 5px #00000017;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.features .single-feature i {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: #723FE4;
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 4px 6px #0000002a;
          box-shadow: 0px 4px 6px #0000002a;
  margin-bottom: 30px;
}

.features .single-feature h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.features .single-feature p {
  line-height: 22px;
}

/*======================================
    Our Achievement CSS
========================================*/
.our-achievement {
  background-color: #723FE4;
  text-align: center;
  padding: 130px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-achievement {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .our-achievement {
    padding: 60px 0;
  }
}

.our-achievement .title h2 {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 10px;
}

.our-achievement .title p {
  color: #fff;
}

.our-achievement .single-achievement {
  margin-top: 50px;
  text-align: center;
  padding: 0px 10px;
}

.our-achievement .single-achievement h3 {
  font-size: 35px;
  font-weight: 800;
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.our-achievement .single-achievement p {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .our-achievement .title h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .our-achievement .single-achievement {
    margin-top: 30px;
  }
  .our-achievement .single-achievement h3 {
    font-size: 28px;
  }
}


/*=============================
	Pricing Table CSS
===============================*/
.pricing-table {
  background-color: #f9f9f9;
}

.pricing-table .section-title {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .pricing-table .section-title {
    margin-bottom: 30px;
  }
}

.pricing-table .single-table {
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.pricing-table .single-table:hover:hover {
  -webkit-box-shadow: 0px 3px 5px #00000017;
          box-shadow: 0px 3px 5px #00000017;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.pricing-table .single-table .table-head {
  padding: 25px;
  border-bottom: 1px solid #eee;
}

.pricing-table .single-table .table-head .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.pricing-table .single-table .table-head p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.pricing-table .single-table .table-head .price {
  padding: 30px 0;
}

.pricing-table .single-table .table-head .price .amount {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
}

.pricing-table .single-table .table-head .price .amount .duration {
  display: inline-block;
  font-size: 14px;
  color: #888;
  font-weight: 400;
  margin-left: 3px;
}

.pricing-table .single-table .table-head .button .btn {
  width: 100%;
  padding: 12px 30px;
  font-size: 13px;
  background-color: #081828;
}

.pricing-table .single-table .table-head .button .btn:hover {
  background-color: #723FE4;
  color: #fff;
}

.pricing-table .single-table .table-content {
  padding: 25px;
}

.pricing-table .single-table .table-content .middle-title {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.pricing-table .single-table .table-content .table-list li {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  margin-bottom: 13px;
}

.pricing-table .single-table .table-content .table-list li:last-child {
  margin: 0;
}

.pricing-table .single-table .table-content .table-list li i {
  color: #723FE4;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 4px;
}



/*=============================
	Team section CSS
===============================*/


.team .section-title {
  margin-bottom: 50px
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
  .team .section-title {
      margin-bottom: 30px
  }
}

.team .single-team {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  -webkit-transition: all .5s cubic-bezier(.68, -.55, .27, 1.55) 0s;
  transition: all .5s cubic-bezier(.68, -.55, .27, 1.55) 0s
}

.team .single-team:hover:hover {
  -webkit-box-shadow: 0px 3px 5px #00000017;
  box-shadow: 0px 3px 5px #00000017;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px)
}

.team .single-team .image img {
  width: 100%
}

.team .single-team .content {
  padding: 25px 30px 30px 30px;
  border: 1px solid #eee;
  border-radius: 0 0 10px 10px
}

.team .single-team .text h3 a {
  font-size: 17px;
  font-weight: 600;
  color: #081828
}

.team .single-team .text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #723fe4;
  display: block;
  margin-top: 4px
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
  .team .single-team .text {
      text-align: center
  }
}

.team .single-team .social {
  display: inline-block;
  float: right
}

.team .single-team .social li {
  display: inline-block;
  margin-right: 10px
}

.team .single-team .social li:last-child {
  margin: 0
}

.team .single-team .social li a {
  color: #666
}

.team .single-team .social li a:hover {
  color: #723fe4
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
  .team .single-team .social {
      float: none;
      display: block;
      margin-top: 20px;
      text-align: center
  }
}




.testimonials {
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden
}

.testimonials .tns-nav {
  text-align: center;
  position: absolute;
  bottom: 80px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  left: 50%;
  z-index: 9
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .testimonials .tns-nav {
      bottom: 50px
  }
}

@media (max-width:767px) {
  .testimonials .tns-nav {
      bottom: 40px
  }
}

.testimonials .tns-nav button {
  height: 6px;
  width: 14px;
  background-color: #081828;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin: 0 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease
}

.testimonials .tns-nav button:hover {
  background: #723fe4
}

.testimonials .tns-nav button.tns-nav-active {
  background: #723fe4;
  width: 25px
}

.testimonials .testi-patern1 {
  width: 300px;
  position: absolute;
  left: -200px;
  bottom: -90px
}

@media (max-width:767px) {
  .testimonials .testi-patern1 {
      display: none
  }
}

.testimonials .testi-patern2 {
  width: 300px;
  position: absolute;
  right: -200px;
  top: -90px
}

@media (max-width:767px) {
  .testimonials .testi-patern2 {
      display: none
  }
}

.testimonials .single-testimonial {
  text-align: center;
  padding: 0 80px 40px 80px
}

@media (max-width:767px) {
  .testimonials .single-testimonial {
      padding: 0 10px 20px 20px
  }
}

.testimonials .single-testimonial .text .brand-icon {
  margin-bottom: 30px
}

.testimonials .single-testimonial .text .brand-icon img {
  width: 140px
}

.testimonials .single-testimonial .text p {
  color: #081828;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px
}

@media (max-width:767px) {
  .testimonials .single-testimonial .text p {
      font-size: 15px;
      font-weight: 500;
      line-height: 24px
  }
}

.testimonials .single-testimonial .author {
  margin-top: 30px;
  display: inline-block;
  position: relative
}

.testimonials .single-testimonial .author img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block
}

.testimonials .single-testimonial .author .name {
  font-size: 15px;
  font-weight: 500;
  color: #081828;
  display: block;
  margin-top: 10px
}

.testimonials .single-testimonial .author .name span {
  color: #777;
  display: block;
  font-size: 13px;
  margin-top: 4px
}



.portfolio-section {
  background-color: #fff
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .portfolio-section .section-title {
      margin-bottom: 50px
  }
}

@media (max-width:767px) {
  .portfolio-section .section-title {
      margin-bottom: 40px
  }
}

.portfolio-section .portfolio-btn-wrapper {
  margin-bottom: 0;
  text-align: center
}

.portfolio-button-head {
  width: 100%;
  height: 100%;
  position: relative
}

.portfolio-section .grid {
  margin-top: 70px
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .portfolio-section .grid {
      margin-top: 50px
  }
}

@media (max-width:767px) {
  .portfolio-section .grid {
      margin-top: 40px
  }
}

.portfolio-section .portfolio-btn-wrapper button {
  padding: 7px 20px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  color: #051441;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  background: transparent;
  border: 1px solid #eee
}

.portfolio-section .portfolio-btn-wrapper button:hover {
  background-color: #723fe4;
  border-color: transparent;
  color: #fff
}

.portfolio-section .portfolio-btn-wrapper button.active {
  background: #723fe4 !important;
  color: #fff;
  border-color: transparent
}

.portfolio-section .portfolio-btn-wrapper button:last-child {
  margin-right: 0
}

.portfolio-item-wrapper {
  position: relative;
  border-radius: 0;
  overflow: hidden
}

.portfolio-item-wrapper .portfolio-img {
  overflow: hidden;
  position: relative;
  z-index: 5
}

.portfolio-item-wrapper .portfolio-img::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-color: #723fe4;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  z-index: 1
}

.portfolio-item-wrapper:hover .portfolio-img::before {
  opacity: .9;
  visibility: visible;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out
}

.portfolio-item-wrapper .portfolio-img img {
  width: 100%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.portfolio-item-wrapper:hover .portfolio-img img {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.portfolio-section .pf-content {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  padding: 30px;
  z-index: 9;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 9
}

.portfolio-section .pf-content .more-icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 15px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #723fe4
}

.portfolio-section .pf-content .more-icon:hover {
  background-color: #fff;
  color: #723fe4;
  border-color: transparent
}

.portfolio-section .pf-content .category {
  font-size: 13px;
  padding: 3px 12px;
  background-color: #fff;
  border-radius: 30px;
  color: #081828;
  font-weight: 400;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  display: inline-block;
  margin-bottom: 12px
}

.portfolio-section .pf-content h4 a {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px)
}

.portfolio-section .pf-content h4 a:hover {
  opacity: .8
}

.portfolio-item-wrapper:hover .pf-content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.portfolio-item-wrapper:hover .pf-content .category {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.portfolio-item-wrapper:hover .pf-content h4 a {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.portfolio-details .content {
  -webkit-box-shadow: 0 1px 20px 0 rgba(32, 32, 32, .11);
  box-shadow: 0 1px 20px 0 rgba(32, 32, 32, .11);
  border-radius: 8px;
  overflow: hidden
}

.portfolio-details .content .inner-content {
  padding: 40px
}

@media (max-width:767px) {
  .portfolio-details .content .inner-content {
      padding: 25px
  }
}

.portfolio-details .content .meta-info {
  margin-top: 40px
}

.portfolio-details .content .meta-info ul {
  border: 1px solid #eee;
  border-radius: 8px;
  display: inline-block;
  padding: 25px 0
}

@media (max-width:767px) {
  .portfolio-details .content .meta-info ul {
      width: 100%
  }
}

.portfolio-details .content .meta-info ul li {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  color: #081828;
  border-right: 1px solid #eee;
  padding: 0 30px
}

@media (max-width:767px) {
  .portfolio-details .content .meta-info ul li {
      display: block;
      border: none;
      margin-bottom: 20px
  }
  .portfolio-details .content .meta-info ul li:last-child {
      margin: 0
  }
}

.portfolio-details .content .meta-info ul li:last-child {
  border: none
}

.portfolio-details .content .meta-info ul li span {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
  color: #888
}

.portfolio-details .content .meta-info ul li .button .btn {
  position: relative;
  margin-top: -28px
}

@media (max-width:767px) {
  .portfolio-details .content .meta-info ul li .button .btn {
      margin: 0
  }
}

.portfolio-details .content .category {
  color: #888;
  font-weight: 600;
  display: block;
  font-size: 14px;
  margin-bottom: 12px
}

@media (max-width:767px) {
  .portfolio-details .content .category {
      font-size: 13px
  }
}

.portfolio-details .content img {
  width: 100%
}

.portfolio-details .content .title {
  font-size: 28px;
  font-weight: 700
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .portfolio-details .content .title {
      font-size: 25px
  }
}

@media (max-width:767px) {
  .portfolio-details .content .title {
      font-size: 20px;
      line-height: 28px
  }
}

.portfolio-details .content .sub-title {
  font-size: 25px;
  font-weight: 700;
  margin: 25px 0
}

@media (max-width:767px) {
  .portfolio-details .content .sub-title {
      font-size: 20px;
      margin: 20px 0
  }
}

.portfolio-details .content .min-title {
  font-size: 22px;
  font-weight: 700;
  margin: 25px 0
}

@media (max-width:767px) {
  .portfolio-details .content .min-title {
      font-size: 20px
  }
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
  .portfolio-details .content .min-title {
      margin: 20px 0
  }
}

.portfolio-details .content p {
  display: block;
  margin: 20px 0;
  line-height: 24px
}

.portfolio-details .content p:first-child {
  margin-top: 0
}

.portfolio-details .content p:last-child {
  margin-bottom: 0
}

.portfolio-details .content .image-block {
  margin: 40px 0
}

.portfolio-details .content .image-block img {
  width: 100%
}

@media (max-width:767px) {
  .portfolio-details .content .image-block img {
      margin: 15px 0
  }
}

.portfolio-details .content .grid-list p {
  padding-right: 50px
}


.call-action {
  padding: 80px 0;
  background-color: #f9f9f9
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .call-action {
      padding: 60px 0;
      text-align: center
  }
}

@media (max-width:767px) {
  .call-action {
      padding: 50px 0;
      text-align: center
  }
}

.call-action .text h2 {
  font-size: 32px;
  font-weight: 700
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .call-action .text h2 {
      font-size: 28px
  }
}

@media (max-width:767px) {
  .call-action .text h2 {
      font-size: 22px
  }
}

.call-action .text h2 span {
  display: block;
  color: #723fe4
}

.call-action .button {
  float: right
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .call-action .button {
      float: none;
      margin-top: 30px
  }
}

@media (max-width:767px) {
  .call-action .button {
      float: none;
      margin-top: 25px
  }
}


/*======================================
	Footer CSS
========================================*/
.footer {
  background-color: #081828;
  position: relative;
}

.footer .footer-top {
  padding: 100px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .footer-top {
    padding: 80px 0;
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer .footer-top {
    padding: 60px 0;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer {
    margin-top: 40px;
    text-align: center;
  }
}

.footer .single-footer.f-about {
  padding-right: 30px;
}

@media (max-width: 767px) {
  .footer .single-footer.f-about {
    padding: 0;
  }
}

.footer .single-footer.f-about .logo img {
  width: 180px;
}

.footer .single-footer.f-about p {
  color: #D2D6DC;
  margin-top: 20px;
  font-size: 14px;
}

.footer .single-footer.f-about .social {
  margin-top: 30px;
}

.footer .single-footer.f-about .social li {
  display: inline-block;
  margin-right: 17px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer.f-about .social li {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer.f-about .social li {
    margin-bottom: 10px;
  }
}

.footer .single-footer.f-about .social li:last-child {
  margin: 0;
}

.footer .single-footer.f-about .social li a {
  color: #D2D6DC;
  font-size: 15px;
}

.footer .single-footer.f-about .social li a:hover {
  color: #723FE4;
}

.footer .single-footer.f-about .social li:last-child {
  margin: 0;
}

.footer .single-footer.f-about .copyright-text {
  color: #D2D6DC;
  font-size: 14px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .footer .single-footer.f-about .copyright-text {
    margin-top: 20px;
  }
}

.footer .single-footer.f-about .copyright-text a {
  color: #D2D6DC;
}

.footer .single-footer.f-about .copyright-text a:hover {
  color: #723FE4;
}

.footer .single-footer.f-link li {
  display: block;
  margin-bottom: 12px;
}

.footer .single-footer.f-link li:last-child {
  margin: 0;
}

.footer .single-footer.f-link li a {
  font-size: 15px;
  font-weight: 400;
  color: #D2D6DC;
}

.footer .single-footer.f-link li a:hover {
  color: #723FE4;
}

.footer .single-footer h3 {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 35px;
  color: #D2D6DC;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer h3 {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer h3 {
    margin-bottom: 25px;
  }
}